.about_container {
    display: grid;
    grid-template-columns: 20% 60%;
    gap: 25%;
}

.about_me {
    width: 1005;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(45deg, transparent, var(--color-primary) transparent);
    display: grid;
    place-items: center;
}

.about_mepic {
    width: 400px;
    height: 400px;
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(0deg);
    transition: var(--transition);
    margin-top: 0;
}

.about_mepic:hover {
    transform: rotate(10deg);
}

.about_cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.about_card {
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 3.5rem;
    padding: 5rem;
    text-align: center;
    transform: var(--transition);
}

.about_card:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.about_icon {
    color: var(--color-primary);
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.about_card h5 {
    font-size: 1rem;

}

.about_card small {
    font-size: 0.8rem;
    color: var(--color-light);
}

.about_content p {
    margin: 2rem 0 2rem;
    color: var(--color-light);

}

#about {
    text-align: center;
}

@media screen and (max-width : 1024px) {
    .about_container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .about_me {
        width: 50%;
        margin: 2rem auto 4rem;
    }

    .about_content p {
        margin: 1rem 0 1.5rem;
    }

}

@media screen and (max-width : 600px) {
    .about_container {
        margin-left: 40px;
    }

    .about_me {
        width: 75%;
        margin: 0 auto 3rem;

    }

    .about_cards {
        grid-template-columns: 1fr;
        gap: 2rem;
        margin: 30px;
        margin-left: 40px;
        padding: autos;
    }

    .about_content {
        text-align: center;
    }

    .about_content p {
        margin: 1rem 0;
    }
}